{% extends "base.html" %}

{% block content %}
  <div class="quote-block">
    <div>
      <p class="quote">&#8220;{{ randomQuote.quote}}&#8221;</p>
      <p class="author">&#8212;{{ randomQuote.author }}</p>
    </div>
  </div>
{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/index.css">
  <title>Document</title>
</head>
<body>
  <div class="block">
    <div class="inner-block">h</div>
  </div>
</body>
</html> -->